springws/src/main/webapp/WEB-INF/BookReservation.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://dagblog.cz/BookReservation/schema"
                  xmlns:rs="http://dagblog.cz/BookReservation"
                  targetNamespace="http://dagblog.cz/BookReservation">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://dagblog.cz/BookReservation/schema"
                schemaLocation="BookReservation.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ClaimReservationRequest">
        <wsdl:part element="schema:ClaimReservationRequest" name="ClaimReservationRequest"/>
    </wsdl:message>

    <wsdl:message name="ClaimReservationResponse">
        <wsdl:part element="schema:ClaimReservationResponse" name="ClaimReservationResponse"/>
    </wsdl:message>

    <wsdl:message name="ExistingReservationsRequest">
        <wsdl:part element="schema:ExistingReservationsRequest" name="ExistingReservationsRequest"/>
    </wsdl:message>

    <wsdl:message name="ExistingReservationsResponse">
        <wsdl:part element="schema:ExistingReservationsResponse" name="ExistingReservationsResponse"/>
    </wsdl:message>

    <wsdl:message name="ExistingReservationRequest">
        <wsdl:part element="schema:ExistingReservationRequest" name="ExistingReservationRequest"/>
    </wsdl:message>

    <wsdl:message name="ExistingReservationResponse">
        <wsdl:part element="schema:ExistingReservationResponse" name="ExistingReservationResponse"/>
    </wsdl:message>

    <wsdl:message name="CancelExistingReservationRequest">
        <wsdl:part element="schema:CancelExistingReservationRequest" name="CancelExistingReservationRequest"/>
    </wsdl:message>

    <wsdl:portType name="BookReservationResource">
        <wsdl:operation name="ClaimReservation">
            <wsdl:input message="rs:Reservation" name="ClaimReservationRequest"/>
            <wsdl:output message="rs:Reservation" name="ClaimReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ExistingReservations">
            <wsdl:input name="ExistingReservationsRequest"/>
            <wsdl:output message="rs:Reservations" name="ExistingReservationsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ExistingReservation">
            <wsdl:input message="rs:Reservation" name="ExistingReservationRequest"/>
            <wsdl:output message="rs:Reservation" name="ExistingReservationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="CancelExistingReservation">
            <wsdl:input message="rs:Reservation" name="CancelExistingReservationRequest"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookReservationBinding" type="rs:BookReservationResource">
        <soap:binding style="document" 
            transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ClaimReservation">
            <soap:operation soapAction="http://dagblog.cz/BookReservation/ClaimReservation"/>
            <wsdl:input name="ClaimReservationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ClaimReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExistingReservations">
            <soap:operation soapAction="http://dagblog.cz/BookReservation/ExistingReservations"/>
            <wsdl:input name="ExistingReservationsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExistingReservationsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExistingReservation">
            <soap:operation soapAction="http://dagblog.cz/BookReservation/ExistingReservation"/>
            <wsdl:input name="ExistingReservationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ExistingReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelExistingReservation">
            <soap:operation soapAction="http://dagblog.cz/BookReservation/CancelExistingReservation"/>
            <wsdl:input name="CancelExistingReservationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookReservationService">
        <wsdl:port binding="rs:BookReservationBinding" name="BookReservationResourcePort">
            <soap:address location="http://localhost:8080/springws/ws/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>